:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --border-radius-md: 6px;
  --border-radius-lg: 10px;
}
